apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      chart: radarr
      version: 26.3.14
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    global:
      stopAll: false
    credentials:
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: radarr.${DOMAIN_0}
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: "longhorn"        # <--- Usamos tu SC por defecto vista en la captura
        accessMode: ReadWriteOnce
        size: 5Gi
      media:
        enabled: true
        existingClaim: media-nfs-pvc
        mountPath: /media
